@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
body {
  background-color: #faf9f8;
}
#proImg {
  height: 168px;
  width: 112px;
}
#first-table {
  border-collapse: separate;
  table-layout: fixed;
  width: 350px;

  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
  height: 112px;
  margin: auto;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 1rem;
  
}
.cart-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cart-section {
  display: flex;
  justify-content: center;
  margin: auto;
}

.cart-inside {
  display: flex;
  margin-bottom: 50px;
}
h2 {
  margin: 0;
}
p {
  margin-top: 2px;
}
.product-info {
  width: 500px;
}
.product-details {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  text-align: left;
}
li {
  /* display: flex; */
  flex: 1 1 50%;
  font-size: 11px;
  font-weight: 300;
  color: rgb(34, 34, 34);
  line-height: 16px;
  font-family: "PT Sans", sans-serif;
  list-style: none;
}
select {
  width: 50px;
  height: 45px;
  vertical-align: top;
  margin-top: 6px;
}
span {
  flex: 1;
}
.product-title {
  margin-left: 40px;
}
.far {
  font-size: 1.5rem;
  border: 1px solid grey;
  padding: 9.5px;
  font-family: "PT Sans", sans-serif;
  margin-left: 2.3rem;
}
#heart {
  padding: 15px;
}
.nav-heart {
  border: none;
}
#prod-quantity {
  font-size: 1.5rem;
  border: 1px solid grey;
  padding: 5px;
  margin-left: 0.2rem;
  font-family: "PT Sans", sans-serif;
  width: 70px;
}
option {
  font-size: 1rem;
}

#head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  font-size: 14px;
}
.login {
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}
.cardlogo {
  width: 50px;
}
.payment-method {
  display: flex;
  padding-left: 0;
  font-family: "PT Sans", sans-serif;
  align-items: center;
}
input {
  height: 48px;
  width: 225px;
  border: 1ps solid #d0d0d0;
}
.add {
  height: 48px;
  width: 100px;
  padding: 0 16px 0 16px;
  display: inline;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
#offer {
  margin-top: 10px;
}
.login {
  height: 53px;
  width: 332px;
  background-color: white;
  border: 1px solid grey;
}
.cart-payment {
  width: 400px;
}
table {
  width: 100%;
  text-align: left;
  font-family: "PT Sans", sans-serif;
}
.checkout {
  height: 53px;
  width: 332px;
  padding: 16px;
  background-color: #555555;
  color: white;
  border: none;
  font-size: 16px;
}
tbody::after {
  content: "";
  display: block;
  height: 16px;
}
tbody::before {
  content: "";
  display: block;
  height: 16px;
}
p {
  font-family: "PT Sans", sans-serif;
}
.btn {
  margin-top: 2%;
}
.cart-img {
  width: 112px;
  height: 168px;
}
.icon-btn {
  background-color: white;
  border: none;
}

/* navigation */

.nav-div {
  display: flex;
}
.nav-ham {
  display: flex;
  justify-content: space-between;
}

.nav-li {
  display: flex;
  flex: 1 1 50%;
  width: 110px;
}
#li-2 {
  width: 50px;
  margin-left: 30px;
}
.hmLogo {
  width: 50px;
}
.hm-Img {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.nav-item {
  display: flex;
}
.nav-item-li {
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
}
.fas,
.far {
  /* border: none; */
  margin: 5px;
  margin-right: 10px;
}
.nav {
  display: flexbox;

  justify-content: space-between;
  margin: auto;
}
.logo-img {
  margin-left: 250px;
}
.entry {
  width: 500px;

  margin-left: 250px;
}
#bag {
  width: 22px;
  margin: 0 10px;
}
.search-input {
  width: 150px;
  height: 30px;
  border: none;
  border-bottom: 1px solid;
  background-color: #faf9f8;
  text-align: center;
}
.search {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-search {
  position: absolute;
  right: 15.85%;
}
#pos3 {
  position: relative;
  width: 500px;
  margin-top: 10px;
}
#pos4 {
  position: absolute;
  top: 0px;
  right: 0px;
}
.fa-trash-alt {
  border: none;
}


/* footer */

#footer {
    
    border: 1px solid #e4e4e4;
    background: #e4e4e4;
    width: 100%;
    margin:0 ;
  }
  
  #list {
    /* border: 1px solid black; */
    margin: auto;
    width: 950px;
    height: 210px;
    display: flex;
    justify-content: space-between;
  }
  
  .colmn {
    /* border: 1px solid red; */
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .colmn > p {
    font-size: 15px;
  }
  
  .colmn > a {
    text-decoration: none;
    line-height: 20px;
    color: black;
    font-size: 14px;
  }
  
  .colmn > p > a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
  }
  

  /* some */

  #socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .common {
    /* border: 1px solid black; */
    margin: auto;
    width: 950px;
    /* height: 250px; */
  }
  
  .socialIcon {
    /* border: 1px solid blue; */
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .socialIcon > i {
    cursor: pointer;
  }
  
  .claim {
    /* border: 1px solid rgb(124, 55, 55); */
    width: 70%;
    height: 80px;
    text-align: center;
    line-height: 15px;
  }
  
  .claim > p {
    font-size: 14px;
    font-weight: 400;
  }
  
  .claim > a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  
  #mores {
    display: none;
  }
  
  #readValue {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  #bottomLogo {
    /* border: 1px solid red; */
    width: 250px;
    height: 100px;
  }
  
  #bottomLogo > a > img {
    width: 100%;
    height: 100%;
  }
  
  #bottomLast {
    display: flex;
    flex-direction: row;
  }
  
  #bottomLast > p {
    font-size: 14px;
  }
  
  #bottomLast > p > a {
    text-decoration: none;
    color: black;
    
  }
  
