* {
  font-family: "Montserrat", sans-serif;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

#top {
  grid-area: top;
  /* border: 1px solid red; */
  height: 210px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  /* border: 1px solid blue; */
  padding: 10px;
}

.navigation > span {
  margin-right: 10px;
  font-size: 14px;
}

.navigation > span > a {
  text-decoration: none;
  color: black;
}

span > i {
  margin-right: 5px;
}

#sgn > span > a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 10px;
}

#srch {
  border-bottom: 1px solid black;
  margin-left: 80px;
  margin-top: 80px;
}

#srch > input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 140px;
}

#logoMiddle {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logoMiddle > .logoMain {
  /* border: 1px solid black; */
  width: 65px;
  height: 55px;
  margin-top: 30px;
  padding: 10px;
}

#logoMiddle > .logoMain > a > img {
  width: 100%;
}

#logoMiddle > .mainMenu {
  padding-top: 10px;
  /* border: 1px solid black; */
  height: 50px;
  width: 90%;
  display: flex;
  gap: 20px;

  justify-content: space-between;
}

#logoMiddle > .mainMenu > a {
  text-decoration: none;
  color: #432522;
  font-size: 18px;
  font-weight: 550;
}
.click > p {
  font-size: 12px;
}

.click > p > a {
  text-decoration: none;
  color: black;
}

.click > p > a:hover {
  color: red;
}

p {
  font-size: 18px;
  font-weight: bold;
}
#c1 {
  width: 1600px;
  height: 80px;
  /*border: 1px solid red;*/
  display: inline-flex;

  margin: 20px;
}
#c1 > div {
  width: 30%;
  height: 40px;
  border: 1px solid green;
  margin-left: 50px;
  margin: auto;
  text-align: center;
  font-size: 15px;
}
#box {
  width: 1300px;
  height: 850px;
  border: 1px solid rgb(238, 238, 241);

  margin: auto;
  /* margin-top: 20px;*/
  background-image: url("https://akns-images.eonline.com/eol_images/Entire_Site/2020817/rs_1200x1200-200917092008-1200-Kangol-HM-LT-091720.jpg?fit=around%7C1080:1080&output-quality=90&crop=1080:1080;center,top");
  background-repeat: no-repeat;
  background-size: 1300px;
  
}
.h1 {
  color: #fff;
  font-size: 60px;
  line-height: 0.5;
  margin-bottom: 5px;
  font-family: "HM Serif Regular", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", "Garamond", "Times New Roman", Times, serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: normal;
  margin-top: 620px;
  font-weight: bolder;
}
.h4 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 5px;
  font-family: "HM Serif Regular", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", "Garamond", "Times New Roman", Times, serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: normal;
  font-weight: bolder;
}
.btn {
  width: 110px;
  height: 42px;
  text-align: center;
  margin-left: 600px;
}
.y1 {
  color: red;
  font-size: 120px;
  margin-top: 450px;
  margin-left: 100px;
  font-family: "HM Serif Regular", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", "Garamond", "Times New Roman", Times, serif;
}

#k1 {
  width: 1300px;
  height: 850px;
}

.l1 {
  width: 25%;
  height: 70px;
  /* border: 1px solid blue;*/
  margin: auto;
  margin-top: 5px;
  text-align: center;
  font-family: "HM Sans Semi Bold", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 8px;
}
.l2 {
  margin: auto;
  width: 1300px;
  height: 180px;
  /*border: 1px solid gold;*/
  margin-top: 5px;
  margin-bottom: 10px;
}
.p1 > span > a:hover {
  text-decoration: underline;
}

.r1 {
  width: 130px;
  height: 130px;
  border-radius: 300px;
  margin: auto;
  /*margin: 20px;*/
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
}
.a3 {
  width: 1300px;
  height: 900px;
  border: 1px solid rgb(224, 230, 229);
  margin: auto;
  margin-top: 20px;
  background-image: url("https://www2.hm.com/content/dam/divided_s04/september_2021/5074c/5074C-1x1-varsity-jackets.jpg");
  background-repeat: no-repeat;
  background-size: 1300px;
  
  
  

}
.a4 {
  width: 1300px;
  height: 900px;
  border: 1px solid rgb(226, 240, 237);
  margin: auto;
  margin-top: 20px;
  background-image: url("https://media.gq-magazine.co.uk/photos/615ade7b548034a303ddcf87/3:4/w_960,h_1280,c_limit/041021_JohnB_03.jpg");
  background-repeat: no-repeat;
  background-size: 1300px;
  height: 100%;
 

}
.a5 {
  width: 1300px;
  height: 950px;
  border: 1px solid rgb(217, 226, 225);
  margin: auto;
  margin-top: 20px;
  background-image:url("https://www.retaildetail.eu/sites/default/files/news/valli%20hm%20retail.jpeg");
  z-index: -1px;
  background-repeat: no-repeat;
  background-size: 1300px;
  height: 100%;
 
}

.f1 {
  width: 800px;
  height: 450px;
  text-align: center;
  margin-top: 300px;
  margin-left: 250px;
  font-size: bolder;
}
.a6 {
  width: 1300px;
  height: 900px;
  border: 1px solid #e4e4e4;
  margin: auto;
  margin-top: 20px;

  background-image: url("https://assets.vogue.in/photos/5f9a4fd07688d1c15f4b025e/master/w_1500,h_1000,c_limit/H&M%20Brighter%20Than%20Ever%20Radhika%20Madan%20&%20Karan%20Tacker.jpg");
  background-repeat: no-repeat;
  background-size: 1300px;
}

#women {
  background: #222;
  border: 1px solid #222;
  border-radius: 0;
  color: #fff;
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: "HM Sans Semi Bold", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100px;
  margin-left: 550px;
}
#men {
  background: #222;
  border: 1px solid #222;
  border-radius: 0;
  color: #fff;
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: "HM Sans Semi Bold", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100px;
}
.i1 {
  width: 1300px;
  height: 900px;
}
.w1 {
  font-size: 1em;
  font-weight: bolder;
  color: rgb(68, 68, 68);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h2 {
  color: black;
  font-size: 1.8em;
}
#box2 {
  height: 700px;
  border: 1px solid #e4e4e4;
  background-color: #f4eddd;
  text-align: center;
  margin-top: 24px;
}
#innerbox {
  width: 20%;
  height: 100px;
  /*border: 1px solid blue;*/
  margin: auto;
  margin-top: 34px;
  margin-bottom: 5px;
  line-height: 0px;
}
.v1 {
  font-size: 52px;
  font-weight: bolder;
  font-family: "HM Sans Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.v2 {
  font-size: 15px;
  font-weight: normal;
}
.h5 {
  text-decoration: underline;
  font-size: 20px;
  font-family: "HM Sans Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
}

.u1 {
  width: 20%;
  height: 430px;
  /*border: 1px solid red;*/
  margin: auto;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  background-color: white;
}
.inside {
  font-weight: lighter;
  color: rgb(131, 128, 128);
  font-size: 20px;
  line-height: 0.5;
}
.read {
  font-weight: normal;
  font-size: 15px;
  margin-top: 60px;
}
.co {
  font-weight: bolder;
  font-size: 20px;
}
.g1 {
  width: 100%;
  height: 50%;
}
h3 {
  margin-top: 50px;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.q1 {
  text-decoration: none;
}

#footer {
  padding-top: 30px;
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  background: #e4e4e4;
}

#list {
  /* border: 1px solid black; */
  margin: auto;
  width: 950px;
  height: 210px;
  display: flex;
  justify-content: space-between;
}

.colmn {
  /* border: 1px solid red; */
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.colmn > p {
  font-size: 15px;
}

.colmn > a {
  text-decoration: none;
  line-height: 20px;
  color: black;
  font-size: 14px;
}

.colmn > p > a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

#socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common {
  /* border: 1px solid black; */
  margin: auto;
  width: 950px;
  /* height: 250px; */
}

.socialIcon {
  /* border: 1px solid blue; */
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialIcon > i {
  cursor: pointer;
}

.claim {
  /* border: 1px solid rgb(124, 55, 55); */
  width: 70%;
  height: 80px;
  text-align: center;
  line-height: 15px;
}

.claim > p {
  font-size: 14px;
  font-weight: 400;
}

.claim > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

#mores {
  display: none;
}

#readValue {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
}

#bottomLogo {
  /* border: 1px solid red; */
  width: 250px;
  height: 100px;
}

#bottomLogo > a > img {
  width: 100%;
  height: 100%;
}

#bottomLast {
  display: flex;
  flex-direction: row;
}

#bottomLast > p {
  font-size: 14px;
}

#bottomLast > p > a {
  text-decoration: none;
  color: black;
}
